body{
	background-image: url('../img/background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0;
	padding: 50px;
}

.controls{
	bottom: 20px;
	left: 20px;
	position: absolute;
	z-index: 1;
}