html{
	height: 100%;
}

body{
	background-image: url('../img/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.controls{
	bottom: 20px;
	left: 20px;
	position: absolute;
	z-index: 1;
}